---
layout: default
---

<div class="home">
  <div class="container">
    <a href="{{ "/" | relative_url }}">
      <img src="images/Logo_small.png" alt="Switchboard Logo" />
    </a>
  </div>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">
      <b>SwitchBoard Cloud</b> Phone System is a corporate PBX phone system built on <b>Asterisk</b>.

      By leveraging the Asterisk Real-time capabilities, <b>SwitchBoard Cloud</b> can fulfill a company's phone system needs from a user-friendly web interface.
    </p>
    <div class="container">
      <img src="images/Switchboard.png" alt="Switchboard Interface" />
    </div>
    <p class="rss-subscribe">
      <br>
      Using <b><a href="https://startcloud.com/">STARTcloud</a></b> will make it easier for you to deploy and manage applications like <b>Switchboard Cloud</b> on <u>multi-cloud</u> platforms.
    </p>
  {%- endif -%}

</div>
